---

---
<section class="grid grid-cols-3 bg-branding-primary my-12">
    <div class="py-12">
        <img src="/images/photos/teddy_bear_transparent.png" />
    </div>
    <div class="flex flex-col items-stretch justify-between col-span-2 p-8">
        <h1 class="text-5xl text-center font-cookie text-apricot-peach-400">Join The Club - Bearny Bakes</h1>
        <p class="text-xl">
        Join our community and be part of the family. As a member of our exclusinve club, 
        you will receive special discounts, coupons for free shipping  and every month 
        a special club size pack of our "Creation of the Month"
        </p>
        <a href="#" class="text-xl btn btn-secondary">Tell me More</a>
    </div>
</section>